<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939696276258-f1rjt6je8h3edgmad3d4aojco02hj0du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939696276258-f1rjt6je8h3edgmad3d4aojco02hj0du</string>
	<key>API_KEY</key>
	<string>AIzaSyAQTP6MDIW8V80tsh8O-rrejH5fV-LxSFE</string>
	<key>GCM_SENDER_ID</key>
	<string>939696276258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>newchat-f6482</string>
	<key>STORAGE_BUCKET</key>
	<string>newchat-f6482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939696276258:ios:09ce58279c421d16be9b7b</string>
</dict>
</plist>